@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Tabla de Multiplicar</h1>
    <table id="tabla" border="1">
        <thead>
            
        </thead>
        <tbody>
            @for (int i = 1; i <= 12; i++)
            {
                <tr >
                @for (int j = 0; j <= 10; j++)
                {

                        <td style="border:double,black; background-color:aliceblue">@i.ToString() * @j.ToString() = @(i * j)</td>
                   

                }

                </tr>
            }
        </tbody>
    </table>
</div>
