@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Ejercicio01.ViewModels.ListadoPersonasVM.

<div>
    <form method="post">
        <ul>
            @foreach (var persona in Model.ListadoPersonas)
            {
                <li>@persona.Nombre @persona.Apellidos</li>
            } 
        </ul>
    </form>

</div>