@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="http://localhost:5081/pages/index.html">Index.html</a>
    <div id="cuerpoDpt" hidden="true">
    </div>
</div>
