@model Ejercicio1GTP.Models.PersonaViewModel

<h2>Editar Persona</h2>

<form method="post" action="@Url.Action("EditarPersona")">
    <div>
        <label>Nombre:</label>
        @Html.TextBoxFor(m => m.Nombre)
    </div>
    <div>
        <label>Apellidos:</label>
        @Html.TextBoxFor(m => m.Apellidos)
    </div>
    <div>
        <label>Departamento:</label>
        @Html.DropDownListFor(m => m.IdDepartamento, new SelectList(Model.Departamentos, "IdDepartamento", "NombreDepartamento"), "Seleccione un departamento")
    </div>
    <div>
        <button type="submit">Guardar</button>
    </div>
</form>