@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <input type="text" name="idPersona" />
    @Html.TextBox("Nombre")
    @Html.TextBox("Apellidos")
    @Html.TextBox("Edad")
    <input type="submit" name="enviar" />
</form>