@{
    ViewData["Title"] = "Lista de Productos";
}


<div class="lista">
    <ul>
        <li>Leche</li>
        <li>Pan</li>
        <li>Huevos</li>
        <li>Sal</li>
    </ul>
    @Html.ActionLink("Ir al Home", "Index", "Home")
</div>