<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h2>{{title}}</h2>
<li><a routerLink="/tabla" routerLinkActive="active" ariaCurrentWhenActive="page">Tabla</a></li>
<button (click)="mostrarFormulario()"></button>
<button (click)="saludar()">Saludar</button>
<h3>{{saludo}}</h3>
<router-outlet />
