@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Estado de la Conexion</h2>

    <form method="post" action="@Url.Action("Conexiones","Home")">
        <input type="submit" value="Conectar"/>
    </form>

    @if (ViewBag.Estado != null){
        <p>Estado de la conexion: </p> @ViewBag.Estado
    }
</div>